body {
    background-color: firebrick;
    margin: 0;
    color: white;
}

.header {
    height: 19vh;
    width: 100vw;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-around;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    height: 400px;
    margin-top: 50px;
}

form input {
    height: 40px;
    width: 110px;
    margin: 0;
}

form select {
    height: 44px;
    width: 115px;
    margin: 0;
}

form {
    display: flex;
}

button {
    margin-left: 7px;
    background-color: cornflowerblue;
    color: white;
}

.availableReservations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.reservationOutput {
    width: 70vw;
    height: 250px;
    border: 2px solid white;
    gap: 20px;
}

h2 {
    letter-spacing: 1px;
    ;
}

.availableReservations,
.reservationOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.options h2:first-child:hover,
.options h2:nth-child(2):hover {
    color: cornflowerblue
}

.updatereservation,
.cRes,
.reservation,
.confirm {
    display: none;
}

.changecanceloptions {
    display: flex;
    gap: 15px;
}

.updateExistingReservation {
    display: none;
}